/* Wide screens above 1280px */
@media only screen and (min-width: 960px) {

  /* Resposition the middle and sidebar */
  .middle {
    width: 765px;
    left: 50%;
    margin-left: -300px;
  }
  .center-column {
    left: 50px;
    right: 0px;
  }

  #banner-wrapper {
    position: fixed;
    width: 0px;
    left: 50%;
    height: 100%;
    bottom: 100%;
  }

  #banner {
    height: 100%;
    position: absolute;
    width: 180px;
    right: 300px;
  }

  /* When showing full sidebar, don't show the menu hide/show buttons */
  .inverseexpandsection{
    display: none;
  }

  /* Also, show the menu full by default */
  #mainmenu {
    display: block;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .middle {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 10px 0px 10px;
  }

  .center-column {
    width:100%;
  }

  .site-footer {
    padding-bottom: 0px;
  }

  #banner-wrapper {
    width: 100%;
  }

  #banner {
    position: relative;
    width: 100%;
    right: auto;
  }

  .side-title{
    font-size: 1em;
    line-height: 1.5em;
  }
}

