.middle {
  width: 765px;
  left: 50%;
  margin-left: -300px;
}

.center-column {
  left: 50px;
  right: 0px;
}

#banner-wrapper {
  position: fixed;
  width: 0px;
  left: 50%;
  height: 100%;
  bottom: 100%;
}

#banner {
  position: absolute;
  width: 180px;
  right: 300px;
}
